.fss-30{
    font-size: 30px;
}
.fss-small{
    font-size: 18px;
}
.fss-40{
    font-size: 40px;
}
.fss-50{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
}
.fss-60{
    font-size: 60px;
}
.fss-70{
    font-size: 70px;
}
.fss-80{
    font-size: 80px;
}
.fss-90{
    font-size: 90px;
}
.mart-40{
    margin-top: 40px;
}
.mart-70{
    margin-top: 70px;
}
.mart-80{
    margin-top: 80px;
}
.mart-60{
    margin-top: 60px;
}
.w-60{
width: 60%;
}
.mart-100{
    margin-top: 100px;
}
/* testimonial csss  */
